<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Qurilish Mollari</title>
    <!-- Css Stylesheeets -->
    <link rel="stylesheet" href="../Css/style.css">
    <link rel="stylesheet" href="../Css/mahsulot.css">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0">

    <!-- Icon === -->
    <link rel="shortcut icon" href="..z/Icon/img1.jpg" type="image/x-icon">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>
    <header>
        <nav class="navbar">
            <!--  Logo ==  -->
            <a href="index.html" class="logo">
                Qurilish <br> Xomashyolari
            </a>
            <!-- Navigation bar -->
            <ul class="menu">
                <span id="close-menu-btn" class="material-symbols-outlined"><i class='bx bx-x bx-spin'></i></span>
                <li><a href="savdo.html">
                        <i class='bx bxs-cart'></i>Savdo
                    </a></li>
                <li><a href="barcha.html" class="active">
                        <i class='bx bx-cart'></i>Barcha Mahsulotlar
                    </a></li>
                <!-- <li><a href="kelishi.html">
                <i class='bx bx-wallet'>Kelishi</i>
            </a></li> -->
                <li><a href="kamayganlar.html">
                        <i class='bx bxs-bell-ring'></i>Kamayganlar
                    </a></li>
                <li><a href="qarzdorlar.html">
                        <i class='bx bx-credit-card-front'></i>Qarzdorlar
                    </a></li>
                <li><a href="profil.html">
                        <i class='bx bx-cog'></i>Profil
                    </a></li>
                <li><a href="../index.html">
                        <i class='bx bx-exit'></i>Chiqish
                    </a></li>
            </ul>
            <span id="hamburger-btn" class="material-symbols-outlined"><i class='bx bx-menu'></i></span>
        </nav>
    </header>
    <div id="blur">

        <div class="qidiruv">
            <div class="one">
                <label for="search">
                    <input type="search" placeholder="Mahsulot nomini kiriting">
                    <i class='bx bx-search'></i>
                </label>
            </div>

            <div class="two">
                <label for="submit">
                    <input type="submit" class="sub" popovertarget="my-popover" value="+ Qo'shish">
                </label>

                <div id="my-popover" popover=manual>
                    <button class="close-btn" popovertarget="my-popover" popovertargetaction="hide">
                        <span aria-hidden="true"></span>
                        <span class="sr-only"><i class='bx bx-x bx-tada bx-rotate-90'></i></span>
                    </button>
                    <form action="barcha.html">
                        <h3>Mahsulot Qo'shish</h3>
                        <label for="name">
                            <input type="text" class="name" placeholder="Mahsulot nomini kiriting" required>
                        </label>
                        <label for="number">
                            <input type="number" class="number" placeholder="Mahsulot Soni" required>
                        </label>
                        <label for="narxi">
                            <input type="number" class="narxi" placeholder="Kelish narxi" required>
                        </label>
                        <label for="summa">
                            <input type="number" class="summa" placeholder="Sotilish narxi" required>
                        </label>
                        <button class="plus">Qo'shish</button>
                    </form>
                </div>

            </div>
        </div>
        <div class="main">
            <table>
                <thead>
                    <tr>
                        <th>№</th>
                        <th>Mahsulot Nomi</th>
                        <th>Soni</th>
                        <th>Narxi</th>
                        <th>Sotildi</th>
                        <th>Qoldi</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Bolta</td>
                        <td>200</td>
                        <td>25 000</td>
                        <td>100</td>
                        <td>100</td>
                        <td><a href="#" onclick="toggle()">
                                <i class='bx bxs-pencil'></i>
                            </a></td>
                        <td><a href="#" onclick="sorov()">
                                <i class='bx bxs-trash-alt'></i>
                            </a></td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
    <!-- alert tahrirlash -->
    <div id="ali">
        <a href="" onclick="toggle()"><i class='bx bx-x bx-tada'></i></a>
        <h3>Tahrirlash</h3>
        <form action=".">
            <input type="text" placeholder="Mahsulot Nomi" value="" required id="name1">
            <input type="number" placeholder="Mahsulot Soni" required id="name2">
            <input type="number" placeholder="Kelish Narxi" required id="name3">
            <input type="number" placeholder="Sotilish Narxi" required id="name4">
            <button id="button">Saqlash</button>

        </form>
    </div>
    <div id="vali">
        <h3>Ushbu Mahsulot o'chirishni xohlaysizmi?</h3>
        <a href="barcha.html">Ha</a>
        <a href="#" onclick="sorov()">Yo'q</a>
    </div>

    <!-- Javascript ====== -->
    <script src="../Script/main.js"></script>
    <script src="../Script/barcha.js"></script>
</body>

</html>