<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Qurilish Mollari</title>
    <!-- Css Stylesheeets -->
    <link rel="stylesheet" href="../Css/style.css">
    <link rel="stylesheet" href="../Css/kelishi.css">
    <!-- Icon === -->
    <link rel="shortcut icon" href="../Icon/img1.jpg" type="image/x-icon">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>
    <header>
        <nav class="navbar">
            <!--  Logo ==  -->
            <a href="index.html" class="logo">
                Qurilish <br> Xomashyolari
            </a>
            <!-- Navigation bar -->
            <ul class="menu">
                <span id="close-menu-btn" class="material-symbols-outlined"><i class='bx bx-x bx-spin' ></i></span>
            <li><a href="savdo.html">
                <i class='bx bxs-cart'></i>Savdo
            </a></li>
            <li><a href="barcha.html">
                <i class='bx bx-cart'></i>Barcha Mahsulotlar
            </a></li>
            <!-- <li><a href="kelishi.html" class='active'>
                <i class='bx bx-wallet'>Kelishi</i>
            </a></li> -->
            <li><a href="kamayganlar.html">
                <i class='bx bxs-bell-ring'></i>Kamayganlar
            </a></li>
            <li><a href="qarzdorlar.html">
                <i class='bx bx-credit-card-front'></i>Qarzdorlar
            </a></li>
            <li><a href="profil.html">
                <i class='bx bx-cog'></i>Profil
            </a></li>
            <li><a href="../login.html">
                <i class='bx bx-exit'></i>Chiqish
            </a></li>
        </ul>
        <span id="hamburger-btn" class="material-symbols-outlined"><i class='bx bx-menu' ></i></span>
    </nav>
</header>

    <div class="qidiruv">
        <p>
            <label for="search">
                <input type="search" class="search" placeholder="Mahsulot nomini kiriting"><i class='bx bx-search'></i>
            </label>
        </p>
        <p>
            <label for="submit">
                <input type="submit" class="sub" value="+ Qo'shish">
            </label>
        </p>
    </div>
    <div class="main">
        <table>
            <thead>
                <tr>
                    <th>№</th>
                    <th>Mahsulot Nomi</th>
                    <th>Soni</th>
                    <th>Narxi</th>
                    <th>Sotildi</th>
                    <th>Qoldi</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Bolta</td>
                    <td>200</td>
                    <td>25 000</td>
                    <td>100</td>
                    <td>100</td>
                    <td><i class='bx bxs-pencil'></i></td>
                    <td><i class='bx bxs-trash-alt'></i></td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Bolta</td>
                    <td>200</td>
                    <td>25 000</td>
                    <td>100</td>
                    <td>100</td>
                    <td><i class='bx bxs-pencil'></i></td>
                    <td><i class='bx bxs-trash-alt'></i></td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Bolta</td>
                    <td>200</td>
                    <td>25 000</td>
                    <td>100</td>
                    <td>100</td>
                    <td><i class='bx bxs-pencil'></i></td>
                    <td><i class='bx bxs-trash-alt'></i></td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>Bolta</td>
                    <td>200</td>
                    <td>25 000</td>
                    <td>100</td>
                    <td>100</td>
                    <td><i class='bx bxs-pencil'></i></td>
                    <td><i class='bx bxs-trash-alt'></i></td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>Bolta</td>
                    <td>200</td>
                    <td>25 000</td>
                    <td>100</td>
                    <td>100</td>
                    <td><i class='bx bxs-pencil'></i></td>
                    <td><i class='bx bxs-trash-alt'></i></td>
                </tr>
                <tr>
                    <td>6</td>
                    <td>Bolta</td>
                    <td>200</td>
                    <td>25 000</td>
                    <td>100</td>
                    <td>100</td>
                    <td><i class='bx bxs-pencil'></i></td>
                    <td><i class='bx bxs-trash-alt'></i></td>
                </tr>
                <tr>
                    <td>7</td>
                    <td>Bolta</td>
                    <td>200</td>
                    <td>25 000</td>
                    <td>100</td>
                    <td>100</td>
                    <td><i class='bx bxs-pencil'></i></td>
                    <td><i class='bx bxs-trash-alt'></i></td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>Bolta</td>
                    <td>200</td>
                    <td>25 000</td>
                    <td>100</td>
                    <td>100</td>
                    <td><i class='bx bxs-pencil'></i></td>
                    <td><i class='bx bxs-trash-alt'></i></td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Bolta</td>
                    <td>200</td>
                    <td>25 000</td>
                    <td>100</td>
                    <td>100</td>
                    <td><i class='bx bxs-pencil'></i></td>
                    <td><i class='bx bxs-trash-alt'></i></td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Bolta</td>
                    <td>200</td>
                    <td>25 000</td>
                    <td>100</td>
                    <td>100</td>
                    <td><i class='bx bxs-pencil'></i></td>
                    <td><i class='bx bxs-trash-alt'></i></td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>Bolta</td>
                    <td>200</td>
                    <td>25 000</td>
                    <td>100</td>
                    <td>100</td>
                    <td><i class='bx bxs-pencil'></i></td>
                    <td><i class='bx bxs-trash-alt'></i></td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>Bolta</td>
                    <td>200</td>
                    <td>25 000</td>
                    <td>100</td>
                    <td>100</td>
                    <td><i class='bx bxs-pencil'></i></td>
                    <td><i class='bx bxs-trash-alt'></i></td>
                </tr>
                <tr>
                    <td>6</td>
                    <td>Bolta</td>
                    <td>200</td>
                    <td>25 000</td>
                    <td>100</td>
                    <td>100</td>
                    <td><i class='bx bxs-pencil'></i></td>
                    <td><i class='bx bxs-trash-alt'></i></td>
                </tr>
                <tr>
                    <td>7</td>
                    <td>Bolta</td>
                    <td>200</td>
                    <td>25 000</td>
                    <td>100</td>
                    <td>100</td>
                    <td><i class='bx bxs-pencil'></i></td>
                    <td><i class='bx bxs-trash-alt'></i></td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>Bolta</td>
                    <td>200</td>
                    <td>25 000</td>
                    <td>100</td>
                    <td>100</td>
                    <td><i class='bx bxs-pencil'></i></td>
                    <td><i class='bx bxs-trash-alt'></i></td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Bolta</td>
                    <td>200</td>
                    <td>25 000</td>
                    <td>100</td>
                    <td>100</td>
                    <td><i class='bx bxs-pencil'></i></td>
                    <td><i class='bx bxs-trash-alt'></i></td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Bolta</td>
                    <td>200</td>
                    <td>25 000</td>
                    <td>100</td>
                    <td>100</td>
                    <td><i class='bx bxs-pencil'></i></td>
                    <td><i class='bx bxs-trash-alt'></i></td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>Bolta</td>
                    <td>200</td>
                    <td>25 000</td>
                    <td>100</td>
                    <td>100</td>
                    <td><i class='bx bxs-pencil'></i></td>
                    <td><i class='bx bxs-trash-alt'></i></td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>Bolta</td>
                    <td>200</td>
                    <td>25 000</td>
                    <td>100</td>
                    <td>100</td>
                    <td><i class='bx bxs-pencil'></i></td>
                    <td><i class='bx bxs-trash-alt'></i></td>
                </tr>
                <tr>
                    <td>6</td>
                    <td>Bolta</td>
                    <td>200</td>
                    <td>25 000</td>
                    <td>100</td>
                    <td>100</td>
                    <td><i class='bx bxs-pencil'></i></td>
                    <td><i class='bx bxs-trash-alt'></i></td>
                </tr>
                <tr>
                    <td>7</td>
                    <td>Bolta</td>
                    <td>200</td>
                    <td>25 000</td>
                    <td>100</td>
                    <td>100</td>
                    <td><i class='bx bxs-pencil'></i></td>
                    <td><i class='bx bxs-trash-alt'></i></td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>Bolta</td>
                    <td>200</td>
                    <td>25 000</td>
                    <td>100</td>
                    <td>100</td>
                    <td><i class='bx bxs-pencil'></i></td>
                    <td><i class='bx bxs-trash-alt'></i></td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Bolta</td>
                    <td>200</td>
                    <td>25 000</td>
                    <td>100</td>
                    <td>100</td>
                    <td><i class='bx bxs-pencil'></i></td>
                    <td><i class='bx bxs-trash-alt'></i></td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Bolta</td>
                    <td>200</td>
                    <td>25 000</td>
                    <td>100</td>
                    <td>100</td>
                    <td><i class='bx bxs-pencil'></i></td>
                    <td><i class='bx bxs-trash-alt'></i></td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>Bolta</td>
                    <td>200</td>
                    <td>25 000</td>
                    <td>100</td>
                    <td>100</td>
                    <td><i class='bx bxs-pencil'></i></td>
                    <td><i class='bx bxs-trash-alt'></i></td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>Bolta</td>
                    <td>200</td>
                    <td>25 000</td>
                    <td>100</td>
                    <td>100</td>
                    <td><i class='bx bxs-pencil'></i></td>
                    <td><i class='bx bxs-trash-alt'></i></td>
                </tr>
                <tr>
                    <td>6</td>
                    <td>Bolta</td>
                    <td>200</td>
                    <td>25 000</td>
                    <td>100</td>
                    <td>100</td>
                    <td><i class='bx bxs-pencil'></i></td>
                    <td><i class='bx bxs-trash-alt'></i></td>
                </tr>
                <tr>
                    <td>7</td>
                    <td>Bolta</td>
                    <td>200</td>
                    <td>25 000</td>
                    <td>100</td>
                    <td>100</td>
                    <td><i class='bx bxs-pencil'></i></td>
                    <td><i class='bx bxs-trash-alt'></i></td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>Bolta</td>
                    <td>200</td>
                    <td>25 000</td>
                    <td>100</td>
                    <td>100</td>
                    <td><i class='bx bxs-pencil'></i></td>
                    <td><i class='bx bxs-trash-alt'></i></td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Bolta</td>
                    <td>200</td>
                    <td>25 000</td>
                    <td>100</td>
                    <td>100</td>
                    <td><i class='bx bxs-pencil'></i></td>
                    <td><i class='bx bxs-trash-alt'></i></td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Bolta</td>
                    <td>200</td>
                    <td>25 000</td>
                    <td>100</td>
                    <td>100</td>
                    <td><i class='bx bxs-pencil'></i></td>
                    <td><i class='bx bxs-trash-alt'></i></td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>Bolta</td>
                    <td>200</td>
                    <td>25 000</td>
                    <td>100</td>
                    <td>100</td>
                    <td><i class='bx bxs-pencil'></i></td>
                    <td><i class='bx bxs-trash-alt'></i></td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>Bolta</td>
                    <td>200</td>
                    <td>25 000</td>
                    <td>100</td>
                    <td>100</td>
                    <td><i class='bx bxs-pencil'></i></td>
                    <td><i class='bx bxs-trash-alt'></i></td>
                </tr>
                <tr>
                    <td>6</td>
                    <td>Bolta</td>
                    <td>200</td>
                    <td>25 000</td>
                    <td>100</td>
                    <td>100</td>
                    <td><i class='bx bxs-pencil'></i></td>
                    <td><i class='bx bxs-trash-alt'></i></td>
                </tr>
                <tr>
                    <td>7</td>
                    <td>Bolta</td>
                    <td>200</td>
                    <td>25 000</td>
                    <td>100</td>
                    <td>100</td>
                    <td><i class='bx bxs-pencil'></i></td>
                    <td><i class='bx bxs-trash-alt'></i></td>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- Javascript ====== -->
    <script src="../Script/main.js"></script>
</body>

</html>