<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Qurilish Mollari</title>
    <!-- Css Stylesheeets -->
    <link rel="stylesheet" href="../Css/style.css">
    <!-- Icon === -->
    <link rel="shortcut icon" href="../Icon/img1.jpg" type="image/x-icon">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="../Css/savdo.css">
</head>

<body>
    <header>
        <nav class="navbar">
            <!--  Logo ==  -->
            <a href="index.html" class="logo">
                Qurilish <br> Xomashyolari
            </a>
            <!-- Navigation bar -->
            <ul class="menu">
                <span id="close-menu-btn" class="material-symbols-outlined"><i class='bx bx-x bx-spin'></i></span>
                <li><a href="savdo.html" class="active">
                        <i class='bx bxs-cart'></i>Savdo
                    </a></li>
                <li><a href="barcha.html">
                        <i class='bx bx-cart'></i>Barcha Mahsulotlar
                    </a></li>
                <!-- <li><a href="kelishi.html">
                <i class='bx bx-wallet'>Kelishi</i>
            </a></li> -->
                <li><a href="kamayganlar.html">
                        <i class='bx bxs-bell-ring'></i>Kamayganlar
                    </a></li>
                <li><a href="qarzdorlar.html">
                        <i class='bx bx-credit-card-front'></i>Qarzdorlar
                    </a></li>
                <li><a href="profil.html">
                        <i class='bx bx-cog'></i>Profil
                    </a></li>
                <li><a href="../index.html">
                        <i class='bx bx-exit'></i>Chiqish
                    </a></li>
            </ul>
            <span id="hamburger-btn" class="material-symbols-outlined"><i class='bx bx-menu'></i></span>
        </nav>
    </header>

    <div id="savdo">

        <div class="one">
            <label for="search">
                <input type="search" placeholder="Mahsulot nomini kiriting">
                <i class='bx bx-search'></i>
            </label>
        </div>
        <div class="mahsulot">
            <table>
                <thead width="100%">
                    <tr width="100%">
                        <th>№</th>
                        <th>Nomi</th>
                        <th>Soni</th>
                        <th>Narxi</th>
                        <th>Buyurtma</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Bolta</td>
                        <td>50</td>
                        <td>25 000</td>
                        <td><i class='bx bx-plus b'></i></td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Bolta</td>
                        <td>50</td>
                        <td>25 000</td>
                        <td><i class='bx bx-plus b'></i></td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Bolta</td>
                        <td>50</td>
                        <td>25 000</td>
                        <td><i class='bx bx-plus b'></i></td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>Bolta</td>
                        <td>50</td>
                        <td>25 000</td>
                        <td><i class='bx bx-plus b'></i></td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>Bolta</td>
                        <td>50</td>
                        <td>25 000</td>
                        <td><i class='bx bx-plus b'></i></td>
                    </tr>
                    <tr>
                        <td>6</td>
                        <td>Bolta</td>
                        <td>50</td>
                        <td>25 000</td>
                        <td><i class='bx bx-plus b'></i></td>
                    </tr>
                    <tr>
                        <td>7</td>
                        <td>Bolta</td>
                        <td>50</td>
                        <td>25 000</td>
                        <td><i class='bx bx-plus b'></i></td>
                    </tr>
                    <tr>
                        <td>8</td>
                        <td>Bolta</td>
                        <td>50</td>
                        <td>25 000</td>
                        <td><i class='bx bx-plus b'></i></td>
                    </tr>

                    <tr>
                        <td>9</td>
                        <td>Bolta</td>
                        <td>50</td>
                        <td>25 000</td>
                        <td><i class='bx bx-plus b'></i></td>
                    </tr>
                    <tr>
                        <td>10</td>
                        <td>Bolta</td>
                        <td>50</td>
                        <td>25 000</td>
                        <td><i class='bx bx-plus b'></i></td>
                    </tr>
                    <tr>
                        <td>11</td>
                        <td>Bolta</td>
                        <td>50</td>
                        <td>25 000</td>
                        <td><i class='bx bx-plus b'></i></td>
                    </tr>
                    <tr>
                        <td>12</td>
                        <td>Bolta</td>
                        <td>50</td>
                        <td>25 000</td>
                        <td><i class='bx bx-plus b'></i></td>
                    </tr>
                    <tr>
                        <td>13</td>
                        <td>Bolta</td>
                        <td>50</td>
                        <td>25 000</td>
                        <td><i class='bx bx-plus b'></i></td>
                    </tr>
                    <tr>
                        <td>14</td>
                        <td>Bolta</td>
                        <td>50</td>
                        <td>25 000</td>
                        <td><i class='bx bx-plus b'></i></td>
                    </tr>
                    <tr>
                        <td>15</td>
                        <td>Bolta</td>
                        <td>50</td>
                        <td>25 000</td>
                        <td><i class='bx bx-plus b'></i></td>
                    </tr>
                    <tr>
                        <td>16</td>
                        <td>Bolta</td>
                        <td>50</td>
                        <td>25 000</td>
                        <td><i class='bx bx-plus b'></i></td>
                    </tr>
                    <tr>
                        <td>17</td>
                        <td>Bolta</td>
                        <td>50</td>
                        <td>25 000</td>
                        <td><i class='bx bx-plus b'></i></td>
                    </tr>
                    <tr>
                        <td>18</td>
                        <td>Bolta</td>
                        <td>50</td>
                        <td>25 000</td>
                        <td><i class='bx bx-plus b'></i></td>
                    </tr>

                    <tr>
                        <td>19</td>
                        <td>Bolta</td>
                        <td>50</td>
                        <td>25 000</td>
                        <td><i class='bx bx-plus b'></i></td>
                    </tr>
                    <tr>
                        <td>20</td>
                        <td>Bolta</td>
                        <td>50</td>
                        <td>25 000</td>
                        <td><i class='bx bx-plus b'></i></td>
                    </tr>
                </tbody>
            </table>
            <table>
                <thead>
                    <tr>
                        <th>№</th>
                        <th>Nomi</th>
                        <th>Soni</th>
                        <th>X</th>
                    </tr>
                </thead>
                <tbody width="100%">
                    <tr>
                        <td>1</td>
                        <td>Bolta</td>
                        <td><input class="num" placeholder="Soni" value="1" type="number"></td>
                        <td><i class='bx bx-minus b'></i></td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Bolta</td>
                        <td><input class="num" placeholder="Soni" value="1" type="number"></td>
                        <td><i class='bx bx-minus b'></i></td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Bolta</td>
                        <td><input class="num" placeholder="Soni" value="1" type="number"></td>
                        <td><i class='bx bx-minus b'></i></td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>Bolta</td>
                        <td><input class="num" placeholder="Soni" value="1" type="number"></td>
                        <td><i class='bx bx-minus b'></i></td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>Bolta</td>
                        <td><input class="num" placeholder="Soni" value="1" type="number"></td>
                        <td><i class='bx bx-minus b'></i></td>
                    </tr>
                    <tr>
                        <td>6</td>
                        <td>Bolta</td>
                        <td><input class="num" placeholder="Soni" value="1" type="number"></td>
                        <td><i class='bx bx-minus b'></i></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="narxi">
            <p>
                Jami Summa:
                <label for="text">
                    <input type="text" readonly value="25 000" class="summ"> So'm
                </label>
            </p>
            <p>
                <label for="submit">
                    <input type="submit" class="sub" value="Nasiya" onclick="nasiya()">
                </label>
                <label for="reset">
                    <input type="reset" class="res" value="Bekor qilish">
                </label>
                <label for="submit">
                    <input type="button" class="but" value="Tasdiqlash">
            </p>
            </label>
        </div>

    </div>

    <div id="tasdiq">
        <form action="savdo.html">
            <a href="#" onclick="nasiya()"><i class='bx bx-x bx-tada'></i></a>
            <h3>Nasiya Savdo</h3>
            <input type="text" placeholder="Xaridor Ismi" required>
            <input type="text" placeholder="Mahsulotlar" readonly>
            <input type="number" placeholder="Jami Summa" readonly>
            <input type="date" placeholder="Sana" required>
            <button>Tasdiqlash</button>
        </form>
    </div>

    <!-- Javascript ====== -->
    <script src="../Script/main.js"></script>
</body>

</html>